@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-black antialiased;
    /* Subtle 2026 grid pattern */
    background-image: radial-gradient(#000000 0.5px, transparent 0.5px);
    background-size: 24px 24px;
  }
}

/* Make selections pop */
::selection {
  @apply bg-accent text-black;
}
